body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.title {
  display: flex;
  justify-content: center;
}
.dado {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
[class^="cara-"] {
  background-color: #333;
  width: 120px;
  height: 120px;
  padding: 12px;
  display: flex;
  margin: 1em;
}

.punto {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-color: white;
}

.cara-1 {
  justify-content: center;
  align-items: center;
}

.cara-2 {
  justify-content: space-between;
}

.cara-2 > .punto:nth-child(2){
  align-self: flex-end;
}

.cara-3 {
  justify-content: space-between;
}

.cara-3 > .punto:nth-child(3){
  align-self: flex-end;
}

.cara-3 > .punto:nth-child(2){
  align-self: center;
}

.cara-4 {
  justify-content: space-between;
}

.cara-4 > .columna {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cara-5 {
  justify-content: space-between;
}

.cara-5 > .columna {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pmedio {
  align-self: center;
}

.cara-6 {
  justify-content: space-between;
}

.cara-6 > .columna {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
