body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

header {
 height: 210px;
 background-color: #333;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.logo {
  border-radius: 50%;
  margin-right:  30px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-self: flex-end;
  color: pink;
}

ul li {
  background-color: #eee;
  border-radius: 5px;
  color: #333;
  margin-left: 10px;
  font-size: 1.3em;
  padding: 0.5em;
  line-height: 2;
}
